#sudo nano /etc/systemd/system/gps_splitter.service

[Unit]
Description=Auto GPS Splitter based on config.ini
# Ensure execution waits until the physical GPS device appears
Requires=dev-ttyACM0.device
After=dev-ttyACM0.device network.target

[Service]
Type=simple
User=root
# Set baud rate (adjust based on your hardware, typically 9600 or 4800)
ExecStartPre=/bin/stty -F /dev/ttyACM0 9600 raw -echo
# Execute the script created previously
ExecStart=/bin/bash /bin/wmt_gps_splitter.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target