#sudo nano /etc/systemd/system/gps_splitter.service
#sudo nano /bin/wmt_winset/wmt_gps_splitter.py

[Unit]
Description=Auto GPS Splitter (Python Non-blocking)
Requires=dev-ttyACM0.device
After=dev-ttyACM0.device network.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/stty -F /dev/ttyACM0 9600 raw -echo
ExecStart=/usr/bin/python3 /bin/wmt_winset/wmt_gps_splitter.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target